# Ignore common C/C++ build artifacts and editor/workspace files
# Binaries
*.o
*.out
*.exe

# Build directories
build/
bin/


# Mac/Linux editor files
*.swp
*~
.DS_Store

# Logs and temporary
*.log
out

# Java
*.class

# Python
__pycache__/
*.pyc
